{% extends "network/layout.html" %}

{% block title %}Following{% endblock %}
{% block body %}
    <div class="page-title">Following</div>
    {% for post in page_obj %}
    <div class="post-outer-container">
        <div class="post-container">
            <div class="profile-pic">
                PIC
            </div>
            <div class="post-body-container">
                <div class="post-body-top">
                    <div>
                        <a href="/profile/{{ post.user.username }}"><b>{{ post.user.first_name }} {{ post.user.last_name }}</a> </b> @{{ post.user.username }} · {{ post.get_time }}
                    </div>
                    {% if post.user == request.user %}
                    <a class="edit" href=""#>Edit</a>
                    {% endif %}
                </div>
                
                <div class="post-body">
                    {{ post.body }}
                </div>
                
                {% if user.is_authenticated %}
                <div class="post-options">
                    <li>Comment</li>
                    <li>Retweet</li>
                    {% if request.user in post.likes.all %}
                    <li class="like-container" id="liked" title="Unlike" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% else %}
                    <li class="like-container" id="not-liked" title="Like" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a id="first" href="?page=1">First</a>
                <a id="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a id="prev" href="#" style="pointer-events: none;">&laquo;</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
                <a id="next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                <a id="last" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% else %}
                <a id="next" href="#" style="pointer-events: none;">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}