{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="all-posts-title">All Posts</div>
    <div class="new-post-container">
        <div class="profile-pic">
        </div>
        
        <div class="new-post-form">
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                <textarea maxlength="280" rows="2" name="body" placeholder="What's happening?" required></textarea>
                <div class="submit-container">
                    <input type="submit" value="Post" disabled></input>
                </div>
            </form>
        </div>
            
    </div>
    {% endif %}

    {% for post in posts %}
    <div class="post-outer-container">
        <div class="post-container">
            <div class="profile-pic">
                PIC
            </div>
            <div class="post-body-container">
                <div class="post-body-top">
                    <div>
                        {% if user.is_authenticated %}
                        <a href="/profile/{{ post.user.username }}"><b>{{ post.user.first_name }} {{ post.user.last_name }}</a> </b> @{{ post.user.username }} · {{ post.get_time }}
                        {% else %}
                        <a href="{% url 'login' %}"><b>{{ post.user.first_name }} {{ post.user.last_name }}</a> </b> @{{ post.user.username }} · {{ post.get_time }}
                        {% endif %}
                    </div>
                    {% if post.user == request.user %}
                    <a class="edit" href=""#>Edit</a>
                    {% endif %}
                </div>
                
                <div class="post-body">
                    {{ post.body }}
                </div>
                
                {% if user.is_authenticated %}
                <div class="post-options">
                    <li>Comment</li>
                    <li>Retweet</li>
                    {% if request.user in post.likes.all %}
                    <li class="like-container" id="liked" title="Unlike" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% else %}
                    <li class="like-container" id="not-liked" title="Like" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}