{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="all-posts-title">All Posts</div>
        <div class="new-post-container">
            <div class="profile-pic">
            </div>
            
            <div class="new-post-form">
                <form action="{% url 'post' %}" method="post">
                    {% csrf_token %}
                    <textarea maxlength="280" rows="2" name="body" placeholder="What's happening?" required></textarea>
                    <div class="submit-container">
                        <input type="submit" value="Post"></input>
                    </div>
                </form>
            </div>
        
        </div>
    {% endif %}
{% endblock %}