{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}

    <div class="profile-container">
        <div class="profile-top">
            <div class="image-container">
                <img src="{% static 'images/default-profile.jpeg' %}">
            </div>
            {% if request.user.username != viewed_user.username %}
                {% if currently_followed == False %}
                <div class="follow-button-container">
                    <button class="toggle-follow-button" id="follow" title="Follow" value="{{ viewed_user.username }}">Follow</button>
                </div>
                {% else %}
                <div class="follow-button-container">
                    <button class="toggle-follow-button" id="unfollow" title="Unfollow" value="{{ viewed_user.username }}">Following</button>
                </div>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="profile-bio-container">
            <div style="font-size: 22px"><strong>{{ viewed_user.first_name }} {{ viewed_user.last_name }}</strong></div>
            <div style="font-size: 16px; color: gray">@{{ viewed_user.username }}</div>
            <div class="profile-bio"> 
                I like food and travel.
            </div>
        </div>
        
        <div class="profile-following">
            <span class="following-count">{{ following_count }}</span> Following <span class="follower-count">{{ follower_count }}</span> Followers
        </div>
    </div>

    {% for post in viewed_user_posts %}
    <div class="post-outer-container">

        <div class="post-container">
            <div class="profile-pic">
                PIC
            </div>
            <div class="post-body-container">
                <div class="post-body-top">
                    <div>
                        <b>{{ post.user.first_name }} {{ post.user.last_name }}</b> @{{ post.user.username }}</a> · {{ post.get_time }}
                    </div>
                    {% if post.user == request.user %}
                    <a class="edit" href=""#>Edit</a>
                    {% endif %}
                </div>
                <div class="post-body">
                    {{ post.body }}
                </div>
                
                {% if user.is_authenticated %}
                <div class="post-options">
                    <li>Comment</li>
                    <li>Retweet</li>
                    {% if request.user in post.likes.all %}
                    <li class="like-container" id="liked" title="Unlike" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% else %}
                    <li class="like-container" id="not-liked" title="Like" value="{{ post.id }}">
                        <div class="like">Like</div>
                            <div class="like-count">{{ post.total_likes }}</div>
                    </li>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            
        </div>

    </div>
    {% endfor %}
    {% endif %}

{% endblock %}

{% block script %}
<script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock %}