{% extends "network/layout.html" %} {% block body %}

<h2>Create your account</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <div class="form-group full-name">
    <input
      class="form-control"
      type="text"
      name="first"
      placeholder="First Name"
    />
    <input
      class="form-control"
      type="text"
      name="last"
      placeholder="Last Name"
    />
  </div>

  <div class="form-group">
    <input
      class="form-control"
      autofocus
      type="text"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="email"
      name="email"
      placeholder="Email Address"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      type="password"
      name="confirmation"
      placeholder="Confirm Password"
    />
  </div>
  <div class="register-button">
    <input class="btn btn-primary" type="submit" value="Register" />
  </div>
</form>
<div class="already-registered">
  Already have an account? <a href="{% url 'login' %}">Log In here.</a>
</div>

{% endblock %}
