body {
    border: 1px solid gainsboro;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    grid-template-columns: 2fr minmax(400px, 600px) 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navigation-bar {
    font-size: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
    max-width: 250px;
    width: 85%;
}

.logo {
    cursor: default;
    padding-left: 15px;
    padding-bottom: 15px;
}

.navigation-item-container {
    display: block;
}

.navigation-item {
    border-radius: 25px;
    display: inline-block;
    margin: 5px 0 5px 0;
    padding: 10px 15px 10px 15px;
    transition: background-color 0.1s ease-in;
}

.navigation-item:hover {
    background-color: whitesmoke;
}

.navigation-link {
    color: black;
}

.navigation-link:hover {
    color: black;
    text-decoration: none;
}

.logout .navigation-link {
    color: white;
    font-size: 18px;
}

.logout, .register {
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    transition: filter 0.25s;
    width: 100%;
}

.logout:hover, .register:hover, .submit-container input:hover {
    filter: brightness(.9);
}

/* BODY */

.body {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.all-posts-title {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 0px 10px 10px;
}

.new-post-container {
    border-bottom: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.new-post-form {
    padding: 10px 10px 10px 10px;
}

.new-post-form textarea {
    border-radius: 5px;
    outline: none;
    resize: none;
    width: 100%;
}

.submit-container {
    display: block;
    text-align: end;
}

.submit-container input {
     background-color: crimson;
     border: none;
     border-radius: 25px;
     color: white;
     padding: 2.5px 12.5px 2.5px 12.5px;
     transition: filter 0.25s;
 }

/* Right Pane */

.right-pane {
    display: block;
    justify-content: left;
}

.who-to-follow-container {
    margin-top: 10px;
    margin-left: 20px;
    height: 275px;
    width: 275px;
}

.who-to-follow {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    width: 100%;
}

.who-to-follow p {
    font-size: 20px;
    font-weight: bold;
}